:root {
	--main-bg-color: #fee9e3;
	--bg-white:#ffffff;
	--font-color:#142239;
	--bg-gray:#fafafa;
	  --bdr-radis-6px:6px;
	--orange-color:#ff3a1e;
	--hover-color:#fd900b;
  }

  /* global style */

  .elementor-button {
	border-radius: var(--bdr-radis-6px) !important;
  }
   .owl-theme .owl-dots .owl-dot span {
	  width: 13px;
	  height: 13px;
	  background: var(--font-color);
	}

	.owl-theme .owl-dots .owl-dot.active span,
	.owl-theme .owl-dots .owl-dot:hover span {
	  background: var(--orange-color);
	}
  /* end */

  /*==============================  */
  /*=======HEADER START============*/
  .header_top a {
	padding: 0px;
  }
  .header_top .elementor-widget:not(:last-child) {
	margin-bottom: 0px;
  }
  .header_top .elementor-button-text:hover {
	color: var(--hover-color) !important;
	cursor: pointer;
  }
  .waento_emergency {
	position: absolute;
	z-index: 3;
	width: 300px;
	background:var(--main-bg-color);
	padding: 10px;
	border-bottom-left-radius: var(--bdr-radis-6px);
	border-bottom-right-radius: var(--bdr-radis-6px);
  }
  .pop-ups-close {
	position: absolute;
	right: 10px;
	top: 0;
  }
  .pop-ups-close i {
	color: var(--font-color);
	font-size: 18px;
  }
  .pop-ups-close i:hover {
	color: var(--hover-color);
  }
  .toggle_box {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .content_box {
	width: 33%;
  }
  .action_box {
	width: 75px;
	height: 65px;
	margin: 0 auto;
	background: var(--bg-white);
	padding: 10px;
	border-radius: var(--bdr-radis-6px);
	box-shadow: 0 4px 4px rgb(0 0 0 / 12%);
	text-align: center;
  }
  .action_box p {
	margin-bottom: 0px;
  }
  .action_box a {
	font-family: "Raleway", Sans-serif;
	font-size: 12px;
	font-weight: 800;
	color: var(--orange-color);
	line-height: 16px;
  }
  .action_box:hover a {
	color: var(--hover-color);
	transition: ease all .4s;
  }
  .elementor-sticky--active.elementor-section--handles-inside.elementor-sticky--effects {
	background-color:var(--bg-white) !important;
	transition: ease-in-out all .5s !important;
	box-shadow: 0 4px 4px rgb(0 0 0 / 12%);
  }

  .langauge {
	width: auto !important;
	position: absolute;
	right: 0px;
  }
  .menu_header .langauge a span,.menu_header .langauge a {
	margin: 0px !important;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: var(--font-color);
	  text-align:center;
  }
  .menu_header .wpml-ls-flag {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: block;
  }

  .menu_header ul.sub-menu {
	box-shadow: 0 3px 14px rgb(0 0 0 / 16%);
	border-radius: var(--bdr-radis-6px);
	padding: 20px 0px !important;
	margin-top: 18px !important;
  }
  .menu_header .elementor-nav-menu ul li a:hover {
	background:var(--main-bg-color) !important;
	font-weight: 700 !important;
  }

  .menu_header .elementor-search-form {
	position: absolute;
	z-index: 2;
	background:var(--bg-white);
	height: 50px;
	top: -60px;
	left: 0;
	right: 0;
	width: 90%;
  }
  .menu_header .elementor-search-form .elementor-search-form__input {
	height: 50px;
	background:var(--bg-white);
	border: solid 2px var(--font-color);
	border-radius: 0px;
	border-right: 0px;
	border-top-left-radius: var(--bdr-radis-6px);
	border-bottom-left-radius: var(--bdr-radis-6px);
  }
  .menu_header .elementor-search-form .elementor-search-form__submit,
  .menu_header .elementor-search-form .elementor-search-form__submit:hover {
	background:var(--bg-white);
	color:var(--font-color);
	border: solid 2px var(--font-color);;
	border-top-right-radius: var(--bdr-radis-6px);
	border-bottom-right-radius:var(--bdr-radis-6px);
	border-left: 0px;
  }
  .menu_list_block nav {
	justify-content: space-evenly;
  }
  .header-search-button-active {
	display: block !important;
  }
  .show_nav_hide {
	visibility: hidden !important;
  }

  /*=======HEADER END==============*/
  /*===============================*/
  /*=====HOME START===============*/
  .challene_section .elementor-element-populated,
  .ecommerce_specialization .elementor-element-populated,
  .satisfied_clients .elementor-element-populated,
  .strategic_partentship .elementor-element-populated,
  .about_text_block .elementor-element-populated,
  .key_satate .elementor-element-populated {
	padding: 0px !important;
  }
  .elementor-widget-container >h2.elementor-heading-title{
	  border-left: 3px solid var(--orange-color);
	padding-left: 7px !important;
  }
  .banner_four_box h2.elementor-heading-title, .satisfied_clients_cards h2.elementor-heading-title{
	  border-left:none!important;
	  padding-left:0px!important;
  }
  .banner_four_box .elementor-top-column .elementor-widget-wrap {
	box-shadow: 0 4px 6px rgb(0 0 0 / 16%);
	border-radius:var(--bdr-radis-6px);
  }
  .fa-arrow-right:before {
	color: var(--font-color);
  }
  .about_fourblock_col .elementor-widget-image-box figure {
	width: 20% !important;
	margin-right: 30px !important;
	height: 61px;
  }

  .challene_section .elementor-widget:not(:last-child),.key_satate .elementor-widget:not(:last-child) {
	margin-bottom: 1px !important;
  }
  .challenge_posts .elementor-post__text a.elementor-post__read-more {
	position: relative !important;
  }
  .challene_section .challenge_posts .elementor-post__badge {
	position: absolute;
	top: 41%;
	  color: var(--font-color);
	text-transform: capitalize !important;
  }
  .challenge_posts .elementor-post__text a.elementor-post__read-more::before {
	font-family: "Font Awesome 5 Free";
	content: "\f061";
	right: -21px;
	position: absolute;
	 color: var(--font-color);
  }
  .challenge_posts .elementor-post__read-more:hover,
  .challenge_posts .elementor-post__read-more:focus,
  .banner_four_box .elementor-button-text:hover,
  .banner_four_box .elementor-button-text:focus,.view_all_partners .elementor-button-link .elementor-button-text:hover {
	color: var(--hover-color) !important;
	text-decoration: underline;
  }
  .satisfied_clients_cards .elementor-testimonial-content {
	margin-bottom: 50px !important;
  }
  .satisfied_clients_cards .elementor-testimonial-image {
	padding-right: 25px !important;
  }
  .satisfied_clients_cards .elementor-widget-testimonial:before {
	content: "";
	display: block;
	background: url('https://wagento-new.ewaycorphosting.com/wp-content/uploads/2023/08/Group-830-2.png') no-repeat;
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 15px;
  }
  .satisfied_clients_cards .elementor-testimonial-name {
	margin-bottom: 15px;
  }
  .satisfied_clients_cards h2.elementor-heading-title {
	padding-left: 55px!important;
  }
  .partener_carousel .elementor-swiper-button {
	background:var(--bg-white);
	border-radius: 50%;
	width: 36px;
	height: 36px;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  }
  .partener_carousel .elementor-swiper-button i {
	padding: 8px !important;
  }

  /* new toggle class eCommerce Specialization */
  .eway_tog_spec .elementor-toggle {
	display: flex;
	flex-basis: 100%;
  }
  .eway_tog_spec .elementor-toggle .elementor-tab-title {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: var(--orange-color);
	margin: 25px 12px 1px 0px !important;
	--e-column-margin-right: 12px;
	--e-column-margin-left: 00px;
	padding: 10px 10px 10px 10px;
	background: var(--bg-gray);
	width: 212px;
	height: 212px;
	box-shadow: 0 4px 6px rgb(0 0 0 / 16%);
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .eway_tog_spec .elementor-toggle-item {
	margin: 25px 12px 25px 0px !important;
	position: relative;
  }

  .eway_tog_spec .elementor-toggle .elementor-tab-content {
	border-bottom: 1px solid #d5d8dc;
	display: none;
	background: var(--bg-white);
	border: solid 1px var(--orange-color);
	bottom: 0;
	box-shadow: 0 4px 6px rgb(0 0 0 / 16%);
	border-radius: var(--bdr-radis-6px);
	  color:#454545;
  }
  .eway_tog_spec .elementor-toggle .elementor-tab-title.elementor-active {
	border-bottom: solid 1px var(--orange-color) !important;
  }
  .eway_tog_spec .elementor-item,.eway_tog_spec .elementor-tab-content  {
	width: 212px
  }
  .eway_tog_spec .elementor-toggle-icon {
	position: absolute;
	top: 40px;
	right: 35px;
	color: var(--font-color) !important;
  }
  /*end  */

  /*======HOME END================*/
  /*==============================*/
  /* =========FOOTER START========*/
  .footer svg {
	display: none;
  }
  .footer .footer_left .elementor-element-populated,
  .footer_copyright .elementor-container .elementor-element-populated,
  .divider_last.elementor-column>.elementor-element-populated {
	padding: 0px;
  }
  .footer .footer_left .feature_list ul li a span {
	margin-bottom: 25px;
  }
  .footer_left ul, .footer_left ul li  {
	margin-left: 0px !important;
	margin-right: 0px !important;
  }
  .footer_left ul li {
	margin-right: 20px !important;
	width: 75px !important;
  }
  .footer_left a span:hover,
  .footer_left a:focus {
	text-decoration: underline;
	transition: ease-in-out .4s;
	color: var(--hover-color) !important;
  }
  .footer .newsletter_sub form .elementor-field-group:first-child {
	width: 70%;
  }
  .footer .footer_right .newsletter_sub form .elementor-field-group:last-child {
	width: 30%;
  }
  .footer .footer_right .newsletter_sub form .elementor-field-group input,
  .footer .footer_right .newsletter_sub form .elementor-field-group button {
	height: 50px;
  }
  .footer_right a .elementor-icon-list-text:hover {
	text-decoration: underline;
  }
  .footer_copyright p,
  .footer p {
	margin-bottom: 0px;
  }

  /* =========FOOTER END=========== */

  /*===============================  */
  /* Media Queries Start */
  /* ============================== */
  @media (min-width: 1367px) and (max-width:1919px) {
	  .eway_tog_spec .elementor-toggle-item{
		  margin: 25px 7px 25px 0px !important
	  }
	  }
  @media (max-width: 1366px) {
	   .elementor-container {
	  max-width: 100%;
	  padding: 0 30px !important;
	}
  /****header start*****/
	   .header_top .elementor-column-gap-no>.elementor-column {
	  width: 100% !important;
	}
	   .header_top .elementor-container {
	  max-width: 1390px !important;
	}
	  .header_top .elementor-container.elementor-column-gap-default {
	  padding: 0 0px !important;
	}

	.header_top ul.elementor-icon-list-items {
	  padding: 10px !important;
	}
	   .header_top .four_clients {
	  width: 31% !important;
	}
  .menu_header .elementor-nav-menu--main .elementor-nav-menu a,
	.menu_header .elementor-button {
	  padding: 13px 15px !important;
	}
  .menu_header .menu_list_block .elementor-container {
	  padding: 0 0px !important;
	}
  /*===header-end******/
  /*=====home===== */
	   .challene_section  .elementor-grid-tablet-2 .elementor-grid {
	  grid-template-columns: repeat(3, 1fr);
	}
	   .challene_section .challenge_posts .elementor-post__badge {
	  top: 38%;
	}
	  .eway_tog_spec .elementor-toggle{
  /* 		flex-wrap:wrap; */
			  display: grid;
	  grid-template-columns: repeat(3, 1fr);
	  grid-column-gap: 24px;
	  grid-row-gap: 30px
	  }
	  .eway_tog_spec .elementor-toggle .elementor-tab-title{
		  width:100%;
	  }
	   .eway_tog_spec .elementor-toggle-item {
	  margin: 1px 1px 1px 0px !important;
	  position: relative;
	}
	  .eway_tog_spec .elementor-toggle .elementor-tab-content {
  /*     position: absolute; */
  /*     top: 49px; */
  /*     z-index: 1; */
	  width: 100%;
  /*     bottom: 0; */
	  height: 212px;
		overflow: scroll;
	  }
  /*===home end===*/

  /***** footer start****/
  .footer .footer_left .elementor-container {
	  padding: 0 0px !important;
	}
	   .footer .footer_mid {
	  display: none;
	}
	.footer .footer_left,
	.footer .footer_right {
	  width: 50% !important;
	}
  .footer .footer_left .elementor-column-gap-default>.elementor-column>.elementor-element-populated:first-child {
	  padding: 10px 0px !important;
	}
	  .footer .footer_right {
	  padding-left: 50px;
	}
	.footer_copyright .footer_copy_left {
	  width: 32% !important;
	}
	.footer_copyright .footer_copy_mid {
	  width: 27% !important;
	}
	.footer_copyright .footer_copy_right {
	  width: 40% !important;
	}
  /****footer-end*****/
  }
  /****************************/
  @media (max-width: 1366px) and (min-width: 768px) {
	.footer .footer_mid {
	  width: 19% !important;
	}
  .footer .footer_left .feature_list ul li a span {
	  margin-bottom: 2px;
	}
	  .menu_header .elementor-item {
	  font-size: 16px !important;
	}
  }
  /****************************/

  @media(min-width:1025px) and (max-width:1365px) {
  /* header	 */
	   .menu_header .plan_project a {
	  padding: 13px 10px !important;
	  font-size: 14px !important;
	}
	  .menu_header .elementor-item {
	  font-size: 14px !important;
	}
  /* heade end	 */
  /* home	 */
		.challene_section .challenge_posts .elementor-post__badge {
	  top: 38%;
	}
  /* home end	 */
  }
  /****************************/

  @media(min-width:992px) and (max-width:1024px) {
  /* header	 */
  .header_top .elementor-column-gap-no>.elementor-column {
	  width: 100% !important;
	}
	.header_top .four_clients {
	  width: 35% !important;
	}
	  .menu_header .elementor-nav-menu--main .elementor-nav-menu a,
	.menu_header .elementor-button {
	  padding: 10px 10px !important;
	}
	.menu_header .elementor-button {
	  font-size: 13px !important;
	}
	  .menu_header .elementor-item {
	  font-size: 14px !important;
	}
   .menu_header .elementor-element-populated {
	  padding: 5px !important;
	}
	.menu_header .elementor-search-form {
	  top: -50px;
	}
  /* header end	 */
  /* home 	 */
	  .challene_section .challenge_posts .elementor-post__badge {
	  top: 27%;
	}

  /*home end 	 */
  }
  /****************************/

  @media(max-width:1024px) {

  /****header start***/
	  .mobile_menu .elementor-menu-toggle,
	.mobile_menu .elementor-search-form__toggle i {
	  background: none !important;
	  color: var(--font-color);
	}
	  .mobile_menu .elementor-container {
	  justify-content: space-between !important;
	}
	   .mobile_menu .elementor-column {
	  width: auto !important;
	}
	  .mobile_menu .wpml-ls-legacy-list-horizontal .wpml-ls-flag {
	  border-radius: 50%;
	  height: 20px;
	  width: 20px;
	  display: block;
	}
	  .menu_header .wpml-ls-flag{
			 height: 20px;
	  width: 20px;
	  }
	  .mobile_menu .wpml-ls-native {
	  font-weight: bold;
	  font-size: 12px;
	  line-height: 14px;
	  text-align: left;
	  color: var(--font-color);
	  margin-left: 2px!important;
		  text-align:center;
	}
	  .mobile_menu .elementor-nav-menu {
	  background: var(--bg-gray);
	  box-shadow: 0 3px 16px rgb(0, 0, 0, 10%);
	  margin: 0px 15px;
	  padding-bottom: 20px;
	}
	  .mobile_menu .elementor-nav-menu li{
		   background: var(--bg-gray);
		   padding: 20px 0px;
		   border-bottom: solid 1px #D9D9D9;
		   margin: 0px 20px;
	  }
	  .mobile_menu .elementor-nav-menu--dropdown .elementor-item {
	  font-size: 18px !important;
	  font-weight: bold !important;
	  line-height: 21px !important;
	}
	   .mobile_menu .elementor-nav-menu .sub-menu li:first-child {
	  padding-top: 17px;
	}

	.mobile_menu .elementor-nav-menu .sub-menu li {
	  background: var(--bg-gray);
	  padding-bottom: 10px;
	  padding-top: 0px;
	  border: none;
	  margin: 0px;
	}
		.mobile_menu .elementor-nav-menu .sub-menu li a {
	  padding: 10px;
	  border-radius: 3px;
	}
	   .mobile_menu .elementor-nav-menu li a {
	  padding: 0px;
	}

	  .mobile_menu .elementor-nav-menu li  a.highlighted,.mobile_menu .elementor-nav-menu--dropdown a:hover{
		  background:var(--bg-gray) !important;
	  }
	.mobile_menu .elementor-nav-menu ul li a:hover,
	.mobile_menu .elementor-nav-menu ul li a:focus {
	  font-weight: bold !important;
	  background: #FEE9E3 !important;
	}
	   .mobile_menu .elementor-element .elementor-nav-menu--dropdown a.highlighted {
	  background-color: var(--bg-gray) !important;
	  color: var(--orange-color);
	  font-size: 18px !important;
	  font-weight: bold !important;
	  line-height: 21px !important;
	}
	   .mobile_menu .elementor-nav-menu--dropdown a.elementor-item-active {
	  background-color: #FEE9E3 !important;
	  font-weight: bold !important;
	}
	.mobile_menu .elementor-nav-menu .sub-arrow {
	position: absolute;
	right: 0px;
	color: var(--font-color);
  }
	 .mobile_menu a.has-submenu:hover {
	background-color: var(--bg-gray) !important;
  }
  .mobile_menu .elementor-nav-menu--dropdown a.has-submenu:hover {
	background-color: var(--bg-gray) !important;
  }
   .mobile_menu  .elementor-nav-menu--dropdown .elementor-item.elementor-item-active,  .mobile_menu  .elementor-nav-menu--dropdown .elementor-item.highlighted,  .mobile_menu  .elementor-nav-menu--dropdown .elementor-item:focus,  .mobile_menu  .elementor-nav-menu--dropdown .elementor-item:hover,  .mobile_menu  .elementor-sub-item.elementor-item-active,  .mobile_menu  .elementor-sub-item.highlighted, .mobile_menu  .elementor-sub-item:focus, .elementor-sub-item:hover{
	   background-color: var(--bg-gray) !important;
	}

  /****header End******/
  /* home start */
	  .banner_four_box .elementor-heading-title {
	  font-size: 21px !important;
	  line-height: 26px !important;
	  font-weight: 700 !important;
	  margin-bottom: 10px !important;
	}

	.banner_four_box .elementor-widget-text-editor .elementor-widget-container p {
	  font-size: 18px !important;
	  line-height: 23px !important;
	  font-weight: 600 !important;
	}
	  .about_fourblock_col .elementor-image-box-wrapper {
	  display: flex;
	  align-items: center;
	}
	   .about_fourblock_col .elementor-widget-image-box figure {
	  margin-right: 20px !important;
	}
	   .about_fourblock_col .elementor-image-box-content .elementor-image-box-title {
	  margin: 0px 0px;
	}
	   .about_fourblock_col .elementor-element-populated {
	  padding: 35px !important;
	}
	   .about_fourblock_col .elementor-widget-image-box figure {
	  height: auto;
	}
		.about_fourblock_col.challene_section .elementor-element-populated {
	  padding: 0px !important;
	}
	  .four_about_col,
	.challenge_posts,
	.satisfied_clients_cards {
	  position: relative;
	}

	.four_about_col .owl-carousel .owl-nav button.owl-next {
	  position: absolute;
	  right: 8px;
	  top: 37%;
	}

	.four_about_col .owl-carousel .owl-nav button.owl-next,
	.challenge_posts .owl-carousel .owl-nav button.owl-next,
	.satisfied_clients_cards .owl-carousel .owl-nav button.owl-next {
	  content: "";
	  display: block;
	  background: url('https://wagento-new.ewaycorphosting.com/wp-content/uploads/2023/08/arrowcta.png') no-repeat;
	  width: 35px;
	  height: 35px;
	  float: left;
	}

	.four_about_col .owl-carousel .owl-nav button.owl-prev,
	.challenge_posts .owl-carousel .owl-nav button.owl-prev,
	.satisfied_clients_cards .owl-carousel .owl-nav button.owl-prev {
	  display: none;
	}
	.four_about_col .owl-carousel .owl-nav button.owl-next span,
	.challenge_posts .owl-carousel .owl-nav button.owl-next span,
	.satisfied_clients_cards .owl-carousel .owl-nav button.owl-next span {
	  display: none;
	}
		.challenge_posts .owl-carousel .owl-nav button.owl-next,.satisfied_clients_cards .owl-carousel .owl-nav button.owl-next {
	  position: absolute;
	  right: 8px;
	  top: 37%;
	}
		.eway_tog_spec .elementor-toggle-icon {
	  top: 30px;
	  right: 30px;
	}
	.eway_tog_spec .elementor-item {
	  width: 25%;
	}
	  .divider .elementor-divider-separator {
	  width: 20% !important;
	}
  /*home end  */
  }
  /* footer  */
   .partner_logo .elementor-container .elementor-column:nth-child(3)>.elementor-element-populated .elementor-element {
	  text-align: center !important;
	}
  /* footer end */
  /****************************/

  @media(max-width:992px) {

   /*---header start---*/
	 .mobile_menu .seach_col {
	width: 85% !important;
	margin: 0 auto;
  }
  .mobile_menu .language_col .elementor-container {
	padding: 0px 0px;
  }
	.mobile_menu .elementor-search-form {
	position: absolute;
	z-index: 2;
	background:var(--bg-white);
	height: 50px;
	top: -72px;
	left: 0;
	right: 0;
  }
	.mobile_menu .elementor-search-form .elementor-search-form__input {
	height: 50px;
	background:var(--bg-white);
	border: solid 2px var(--font-color);
	border-radius: 0px;
	border-right: 0px;
	border-top-left-radius: var(--bdr-radis-6px);
	border-bottom-left-radius: var(--bdr-radis-6px);
	color: var(--font-color) !important;
  }
  .mobile_menu .elementor-search-form .elementor-search-form__submit,
  .mobile_menu .elementor-search-form .elementor-search-form__submit:hover {
	background:var(--bg-white);
	color: var(--font-color);
	border: solid 2px var(--font-color);
	border-top-right-radius:var(--bdr-radis-6px);
	border-bottom-right-radius: var(--bdr-radis-6px);
	border-left: 0px;
  }
  /*---header End---*/
  /* home start	 */
	   h1.elementor-heading-title {
	  font-size: 34px !important;
	  line-height: 40px !important;
	}
	h2.elementor-heading-title {
	  font-size: 24px !important;
	  line-height: 30px !important;
	}
	   .banner_four_box .elementor-container {
	  padding: 0 0px !important;
	}
	   .banner_subtitle .elementor-widget-container {
	  font-size: 21px !important;
	  line-height: 27px !important;
	  margin-bottom: 20px !important;
	  padding-bottom: 0px !important;
	}
	  .key_satate h3.elementor-image-box-title {
	  font-size: 42px !important;
	  line-height: 49px !important;
	  margin: 0px !important;
	}

	.key_satate p.elementor-heading-title {
	  font-size: 25px !important;
	  line-height: 30px !important;
	  font-weight: 600 !important;
	}
	  .challenge_posts_section .elementor-widget-container p,
	.challenge_posts_section .elementor-widget-container,
	.satisfied_clients .elementor-widget-container p,
	.satisfied_clients .elementor-widget-container {
	  font-size: 18px !important;
	  line-height: 28px !important;
	  font-weight: 600 !important;
	}

	.challenge_posts_section .elementor-post__title a {
	  font-size: 20px !important;
	  line-height: 24px !important;
	  font-weight: 700 !important;
	}

	.challenge_posts .elementor-post__text a.elementor-post__read-more {
	  margin-bottom: 0px !important;
	}
   .challene_section .challenge_posts .elementor-post__badge {
	  top: 50%;
	}
	  .challene_section .elementor-grid-tablet-2 .elementor-grid {
	  grid-template-columns: repeat(1, 1fr);
	}
	  .eway_tog_spec .elementor-toggle{
	  grid-template-columns: repeat(2, 1fr);
	  }
  /* 	.eway_tog_spec .elementor-toggle .elementor-tab-title{
		  width:100%;
	  }
	  .eway_tog_spec .elementor-toggle .elementor-tab-content {
	  width: 100%;
	  height: 212px;
		overflow: scroll;
	  } */
	  .ecommerce_section .elementor-widget-container p,
	.ecommerce_section .elementor-widget-container,
	.strategic_partentship .elementor-widget-container p,
	.strategic_partentship .elementor-widget-container {
	  font-size: 18px !important;
	  line-height: 28px !important;
	  font-weight: 600 !important;
	}
	  .satisfied_clients_cards h2.elementor-heading-title {
	  font-size: 20px !important;
	  line-height: 24px !important;
		   padding-left: 0px!important;
	   padding-bottom: 20px;

	}
	.satisfied_clients_cards .elementor-testimonial-content p,
	.satisfied_clients_cards .elementor-testimonial-content {
	  font-size: 16px !important;
	  line-height: 26px !important;
	  font-weight: 500 !important;
	}
	.satisfied_clients_cards .elementor-testimonial-content {
	  margin-bottom: 30px !important;
	}
	.satisfied_clients_cards .elementor-testimonial-name,
	.satisfied_clients_cards .elementor-testimonial-job {
	  font-size: 14px !important;
	  line-height: 16px !important;
	  margin-bottom: 5px !important;
	}
		.satisfied_clients_cards .elementor-widget-testimonial:before {
	  position: absolute;
	  top: -23px;
	}
	  .commerce_and_content .elementor-column {
	  width: 50% !important;
	}
	  .commerce_and_content .elementor-element-populated {
	  padding-left: 0px;
	}
  /* 	home end */

  /*---footer---*/
	.footer .footer_right {
	  padding-left: 0px;
	}
	.footer .elementor-container {
	  padding: 0px;
	}
	.partner_logo .elementor-container .elementor-column {
	  width: 25% !important;
	}
	.footer_left ul li {
	  width: 80px !important;
	}
  /* --endfooter--*/
  }

  /****************************/
  @media (max-width: 768px) {
	  .elementor-container{
		  padding: 0 15px !important;
	  }
  /*home start====*/
	  .four_about_col .owl-carousel .owl-nav button.owl-next {
	  right: -5px;
	  top: 32%;
	}
	  .challenge_posts .owl-carousel .owl-nav button.owl-next {
	  right: -20px;
	  top: 55%;
	}
	.satisfied_clients_cards .owl-carousel .owl-nav button.owl-next {
	  right: -5px;
	  top: 35%;
	}
  .divider .elementor-divider-separator {
	  width: 22% !important;
	}

	  .eway_tog_spec .elementor-toggle {
  /*     display: block; */
	  width: 100%;
	  text-align: center;
	}
		.eway_tog_spec .elementor-toggle .elementor-tab-title {
  /*     width: 100%;
	  height: 100%; */
			  margin: 0px 12px 1px 0px !important;
	}
	   .eway_tog_spec .elementor-toggle-icon {
	  top: 30px;
	  right: 30px;
	}
  /* 	.eway_tog_spec .elementor-toggle .elementor-tab-content {
	  position: unset;
	  width: 100%;
	  } */
  /*=====home end===== */
	  /*---footer --*/
	.footer .footer_mid {
	  display: none !important;
	}
	.footer .footer_left,
	.footer .footer_right {
	  width: 100% !important;
	}
	.footer_copyright .elementor-widget-container {
	  padding: 0px !important;
	  text-align: left !important;
	}
	.footer_copyright .elementor-element {
	  width: 100% !important;
	}
	.footer_copyright ul {
	  width: 100% !important;
	  justify-content: left !important;
	  padding: 20px 0px !important;
	}
	.footer .elementor-container {
	  justify-content: left;
	}
  .certificate_logo .elementor-column {
	width: 15% !important;
  }
  /*--end footer---*/
  }
  /****************************/
  @media (max-width: 480px) {

  /*----header start----*/
	   .mobile_menu .language_col .elementor-container {
	  padding: 0px 0px;
	}
  .mobile_menu .wpml-ls-legacy-list-horizontal .wpml-ls-flag+span {
	margin-left: 0px;
  }
  .mobile_menu .seach_col {
	width: 70% !important;
  }
  .mobile_menu .wpml-ls-native {
	text-align: center;
	margin-left: 1px;
  }
  /* home start 	 */
	   .about_fourblock_col .elementor-element-populated {
	  padding: 25px !important;
	}
	.four_about_col .owl-carousel .owl-nav button.owl-next {
	  right: -5px;
	  top: 21%;
	}
	   .challenge_posts .owl-carousel .owl-nav button.owl-next {
	  right: -17px;
	  top: 35%;
	}
	  .challene_section .challenge_posts .elementor-post__badge {
	  top: 28%;
	}
	  .satisfied_clients_cards .owl-carousel .owl-nav button.owl-next {
	  right: -5px;
	  top: 35%;
	}
		  .eway_tog_spec .elementor-toggle {
	  display: block;
	  width: 100%;
	  text-align: center;
	}
		.eway_tog_spec .elementor-toggle .elementor-tab-title {
	  width: 100%;
	  height: 100%;
			  margin: 25px 12px 1px 0px !important;
	}
	   .eway_tog_spec .elementor-toggle-icon {
	  top: 15px;
	  right: 15px;
	}
	  .eway_tog_spec .elementor-toggle .elementor-tab-content {
	  position: unset;
	  width: 100%;
	  }
	  .eway_tog_spec .elementor-element-populated{
		  padding:0px!important;
	  }
	   .commerce_and_content .elementor-image-box-wrapper .elementor-image-box-img {
	  width: 40% !important;
	}
  .commerce_and_content .elementor-image-box-title {
	  line-height: 24px !important;
	}
		.divider .elementor-divider-separator {
	  width: 35% !important;
	}
  /*home end 	 */

  /*---header End-----*/

  /*----footer---- */
  .footer .footer_left .feature_list ul li a span {
	margin-bottom: 20px;
  }
  .footer .partner_logo .elementor-container .elementor-column {
	width: 40% !important;
  }
  .footer .partner_logo .elementor-container .elementor-column:nth-child(3) {
	width: 25% !important;
  }
  .footer .partner_logo .elementor-container .elementor-column:nth-child(3)>.elementor-element-populated .elementor-element {
	padding-right: 10px !important;
  }
  .footer .certificate_logo .elementor-column {
	width: 30% !important;
  }
  .footer .newsletter_sub form .elementor-field-group:first-child,
  .footer .newsletter_sub form .elementor-field-group:last-child {
	width: 100% !important;
  }
  /*---footer--end---*/
  }
  /************************/
  @media(min-width:375px) and (max-width:832px) and (orientation:landscape) {
  /* header */
	   .mobile_menu .seach_col {
	  width: 83% !important;
	}
  /* header end	 */
  /*footer 	 */
	  .footer .footer_left .feature_list ul li a span {
	  margin-bottom: 20px;
	}
	.mobile_menu .wpml-ls-native {
	  text-align: center;
	  margin-left: 1px;
	}
	  .eway_tog_spec .elementor-toggle-icon{
		  top: 40px;
	  right: 30px;
	  }
  /* footer end	 */
  }
  /************************/